* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: rgb(213, 212, 211);
}

.container {
    text-align: left;
    width: 500px;
    margin: 0 auto;
}

header {
    text-align: center;
}

h3 {
    margin: 20px auto;
}

.generalInfo__boldText {
    font-weight: bold;
}

h5{
    margin: 10px auto;
}

.profSkills__inner li {
    list-style-type: none;
}

.profActivity__inner-info {
    margin: 10px auto;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(57, 155, 99);
}

a:hover {
    color: red;
}

.profActivity__inner-info-portfolio{
    text-transform: uppercase;
    color: rgb(204, 20, 20);
    font-weight: bold;
}